{% extends "base.html" %}

{% block heading %}
    
    <title>Flow</title>

{% endblock %}

{% block content %}
    {% with page='home'%}
        {% with username=session.get('username') %}
            {% include 'navbar.html' %}
        {% endwith %}
    {% endwith %}
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
    {% endwith %}
    {% if logged_in %}
      <form action= "#" method= "post">
        <p><input type= "text" placeholder= "Spotify_id" name="ids" required></p>
        <p><input class="btn btn-default" type= "submit" value="Enter id"></p>

      </form>
    {% endif %}
{% endblock %}
