{% if session.get('username') %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ url_for('home') }}">Flow</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- at the moment i am just checking what page got passed in and differentiating it. but as you can see it is a lot of code we might optimize this in future. -->
                    {% if page == 'home' %} 
                        <ul class="navbar-nav w-100">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('home') }}">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown ml-auto">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Logged in as {{ username.capitalize() }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ url_for('profile') }}">My Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                                </div>
                            </li>
                        <ul>
                    {% elif page == 'profile' %}
                        <ul class="navbar-nav w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('home') }}">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown ml-auto">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Logged in as {{ username.capitalize() }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item active" href="{{ url_for('profile') }}">My Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                                </div>
                            </li>
                        <ul>
                    {% endif %}
                </div>
            </nav>
{% else %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Flow</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    {% if page == 'login' %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                        </li>
                    {% elif page == 'register' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                        
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </nav>
            <!-- fading flash messages -->
{% endif %}