{% extends "base.html" %}

{% block heading %}
    <title>Flow</title>
{% endblock %}

{% block content %}
    {% with page='profile' %}
        {% with username=session.get('username') %}
            {% include 'navbar.html' %}
        {% endwith %}
    {% endwith %}
    <!-- fading flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% if spotify_id %}
        <p>Current Spotify ID: {{ spotify_id }}</p>
    {% else %}
        <p>Your spotify is not connected! Add it below!</p>
    {% endif %}
    <h1>Update Spotify ID</h1>
    <form action="{{ url_for('home') }}" method="POST">
        <input type="text" name="spotify_id" required><br>
        {% if spotify_id %}
            <input type="submit" value="Change ID">
        {% else %}
            <input type="submit" value="Connect ID">
        {% endif %}
    </form>
{% endblock %}