{% extends "home.html" %}

{% block title %}
    Register
{% endblock %}

{% block code %}
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {% endif %}
    {% endwith %}
    <div class="form-container">
      <h1>Register</h1>
      <br>
      <form action= "#" method= "post">
        <input type= "email" placeholder= "Email" name="email" required><br>
        <input type= "text" placeholder= "Username" name="username" required><br>
        <input type= "password" placeholder= "Password" name="password" required><br>
        <input class="btn btn-default" type="submit" value="Register"><br>
        <a href="{{ url_for('login')}}">Already have an account?</a>
      </form>
    
    </div>
{% endblock %}